.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, rgb(8, 3, 31) 0%,#{fade-out(rgb(56, 56, 146), .1)} 100%,#{fade-out(rgb(231, 231, 255), .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
}
