---
title: Home
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include nav.html %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">

    <!-- Logo -->
    <div id="logo">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <img height="300px" src="/assets/images/logo.png" alt="AlgoWit logo">
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>

    <!-- Description -->
    <div class="row">
      <div class="col-xl-3"></div>
      <div class="col-xl-6">
        <p id="description">AlgoWit is an AI research company that aims to develop smart algorithms for various
          applications including, among others, algorithmic trading, sports betting and fraud detection. AlgoWit invests
          in research and has multiple publications in the area of artificial data generation. AlgoWit also develops
          open source software that you can find at GitHub.</p>
      </div>
      <div class="col-xl-3"></div>
    </div>

    <!-- Buttons -->
    <div class="row">
      <div class="col-xl-4"></div>
      <div class="col-xl-2 text-center-lg">
        <p id="left"><a class="btn btn-outline-inverse btn-lg" href="/publications" role="button">Publications</a></p>
      </div>
      <div class="col-xl-2 text-center-lg">
        <p id="right"><a class="btn btn-outline-inverse btn-lg" href="/open_source" role="button">Open Source</a></p>
      </div>
      <div class="col-xl-4"></div>
    </div>
  </div>

  <div class="container">
    <div class="md-guide-feature">
      <h1 class="no-anchor">Everything you need to learn about AlgoWit.</h1>
      <p class="lead" style="margin-bottom: 60px">Study,practise and follow new ideas the way you want.</p>
      <div class="row">
        <div class="col-sm-4">
          <div class="icon">
            <i class="fas fa-edit"></i>
          </div>
          <h3 class="no-anchor">Publications.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas <a href="/publications">Publications</a>
            guide. It's designed for everyone, even novices.</p>
        </div>
        <div class="col-sm-4">
          <div class="icon">
            <i class="fas fa-book-open"></i>
          </div>
          <h3 class="no-anchor">Open Source.</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit unde nesciunt cumque molestias eveniet
            sequi voluptas <a href="/open_source">Open Source page</a>.</p>
        </div>
        <div class="col-sm-4">
          <div class="icon">
            <i class="fas fa-code"></i>
          </div>
          <h3 class="no-anchor">Tutorials.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, facere eaque. Explicabo temporibus
            id, minus <a href="https://github.com/AlgoWit/tutorials">Tutorials on Github</a> repellat.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="md-guide-feature">
      <h1 class="no-anchor">Become an insider.</h1>
      <p class="lead">Sign up now to get notifications about AlgoWit news.</p>
      <br />
      <a class="btn btn-default btn-lg" href="https://tinyletter.com/AlgoWit" style="margin-top: -10px">Stay
        Updated</a>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>