<nav class="navbar navbar-expand-lg navbar-dark bg-dark mdg-nav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-top: 2px">
      <div class="navbar-nav">
        <a class="nav-item nav-link {% if page.title == 'Publications' %}active{% endif %}" href="/publications/">Publications</a>
        <a class="nav-item nav-link {% if page.title == 'Open Source' %}active{% endif %}" href="/open_source/">Open Source</a>
        <a class="nav-item nav-link {% if page.title == 'Tutorials' %}active{% endif %}" href="/tutorials/">Tutorials</a>
        <a class="nav-item nav-link {% if page.title == 'Playground' %}active{% endif %}" href="/playground/dist/index.html">Playground</a>
        
      </div>
    </div>
    <form class="form-inline d-none d-lg-inline-block mt-2 mt-md-0">
      <input type="text" class="form-control" id="search-input" placeholder="Search" style="margin-top:0">
    </form>
  </div>
</nav>
