.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, rgb(21, 21, 24) 0%,#{fade-out(rgb(70, 70, 103), .1)} 100%,#{fade-out(rgb(231, 231, 255), .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
}
